*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", monospace, sans-serif;
    font-size: 22px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    text-align: center;
    background-color: #e3e3e3;
    color: #080808;
    padding: 10px 0;
}
h1{
    color: #262834;
    font-size: 28px;
    padding: 8px;
}
.container{
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #080808;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
form{
    width: 100%;
    padding: 0px 0px;
    box-sizing: border-box;
}
form input[type="text"]{
    width: calc(100% - 10px);
    height: 70px;
    box-sizing: border-box;
    padding: 6px;
    margin: 5px;
    background-color: #262834;
    color: #e3e3e3;
    outline: none;
    border: none;
    text-align: right;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(60px, auto);
}
.btns button{
    padding: 20px 10px;
    margin: 5px;
    background-color: #262834;
    color: #e3e3e3;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: 500;
}
.btns button.btn{
    background-color: #56cbdb;
    color: #262834;
    font-weight: bold;
}
.btns button:first-of-type{
    grid-column: 1/3;
    grid-row: 1;
}
.btns button:last-of-type{
    grid-column: 3/5;
    grid-row: 5;
}